*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#ff9800,#ff5722);

}

.login-card{

width:420px;

background:white;

padding:45px;

border-radius:18px;

box-shadow:0 20px 45px rgba(0,0,0,.2);

text-align:center;

}

.login-card h1{

color:#ff9800;

margin-bottom:8px;

}

.login-card h3{

margin-bottom:30px;

}

.login-card input{

width:100%;

padding:15px;

margin-bottom:20px;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

}

.login-card button{

width:100%;

padding:15px;

background:#ff9800;

border:none;

color:white;

font-size:18px;

font-weight:600;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.login-card button:hover{

background:#f57c00;

}

#message{

margin-top:15px;

font-weight:600;

color:red;

}